@font-face {
  font-family: 'Formula1';
  src: url('./Formula1-Regular.otf') format('opentype'); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Formula1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
