.cartitems{
   margin:100px 170px;

}

.cartitems hr{
    height:3px;
    background:gold;
    border:0;
}

.cartitems-format-main{
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items:center;
    gap:75px;
    padding:20px 0px;
    color:#454545;
    font-size:16px;
    font-weight:600;
}

.cartitems-format{
    font-size:18px;
    font-weight:500;
}

.carticon-product-icon{
    height:80px;
    width:100px;
}
.cartitems-remove-item{
    cursor:pointer;
    width:15px;
    margin-left:50px;
}
.cartitems-remove-item:hover{
    background:red;
}
.cartitems-quantity{
    width:64px;
    height:50px;
    border:2px solid gray;
    background:#fff;
}
.cartitems-quantity:hover{
    background:gold;
}

.cartitems-format hr{
    height:3px;
    background:gold;
    border:0;
}

.cartitems-down{
    display:flex;
    margin:30px 0px;
}

.cartitems-total{
    flex:1;
    display:flex;
    flex-direction:column;
    margin-right:200px;
    gap:40px;

}
.cartitems-total h1{
text-align:left;
}

.cartitems-total-item{
    display:flex;
    justify-content:space-between;
    padding:15px 0px;
    font-size:17px;
}

.cartitems-total button{
    width:262px;
    height:58px;
    outline:none;
    border:none;
    background:red;
    color:gold;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;


}

