.breadcrum{
    display:flex;
    align-items:center;
    gap:8px;
    color:linear-gradient(to right, darkred,black);
   
    font-size:17px;
    font-weight:600;
    margin:60px 170px;
    text-transform: capitalize;
}