.hero {
  display: flex;
  justify-content: space-between;
  background:url(../assets/wallpaperforhero);
  background-size:cover;
  background-position:center;

  align-items: center;
  color: #FFD700;
  padding: 4px 60px;
  height: 90vh;

  
}

.hero-left {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content:left;
  gap: 6px;
  width:40%;
  height:75vh;

}
.hero-left h2 {
  font-size: 35px;
  color:#FFFDD0;
  margin-bottom: 50px;
  margin-top:0;
  margin-right:0;
  margin-left:15%;
  text-align:left;
  text-shadow:1px 1px 1px rgba(0,0,0,1);
}
.hero-left p {
  font-size: 25px;
  color:#FFFDD0;
  margin-top:30px;
  margin-left:15%;
  padding:0;
  margin-bottom:-3%;
  line-height:1.1;
  text-align:left;
    text-shadow:1px 1px 1px rgba(0,0,0,1);
}
.hero-latest-button {
  margin-top: 150px;
  padding: 12px 24px;
  background-color: rgba(255, 69, 0, 0.8);
  color: #1C1C1C;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 12px rgba(255,215,0,0.3);
  align-items:center;
  display:flex;
  justify-content:center;
  align-items:center;
  width:80px;
  position:relative;
  left:15%;
}
.hero-latest-button:hover {
  background-color: #e6c200;
  transform: scale(1.05);
}



.hero-right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:25%;
  
}

.social-icons{
  padding:5px;
  display:flex;
  flex-direction:column;
}



.giticon{
  display:flex;
  margin-bottom:50px;
  font-size:35px;
  margin-bottom:-5%;
}

.giticon:hover{
  transform:scale(1.05);
}
.instaicon{
  display:flex;
  font-size:35px;
  padding-bottom: 50px;
}
.instaicon:hover{
  transform:scale(1.05);
}

.form-container-sign-up{
  margin-bottom:100%;
}