.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:50px;
    background:darkgrey;
    font-family:'F1-font';
    src:url(../assets/Formula1-Regular.otf);
    margin-top:-3%;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:-5%;
}

.footer-links{
    display:flex;
    list-style:none;
    gap:50px;
    color:black;
    font-size:20px;
}

.footer-links li{
    cursor:pointer;
}

.footer-social-icons{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.instaicon{
   font-size:32px;
   padding:10px;
   padding-bottom:6px;
}

.pinterestIcon{
   font-size:32px;
   padding:10px;
   padding-bottom:6px;
}